@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62.5%;
    text-decoration: none;
    font-family: "Roboto", serif;
    outline: none;
}
.hero{
    width: 100%;
    height: 100vh;
    background:linear-gradient(45deg, #010758, #490d61) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero h1{
    font-size: 4.5rem;
    font-weight: 600;
    margin-top: -5rem;
    margin-bottom: 5rem;
    color: #fff;
}
.hero h1 span{
    font-size: 4.5rem;
    font-weight: 600;
    color:#ff2963 ;
}
textarea{
    width: 60rem;
    height: 25rem;
    background: #403d84;
    color: #fff;
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
    resize: none;
    margin-bottom: 3rem;
}
textarea::placeholder{
    font-size: 1.6rem ;
    color: #ddd;
}
.row{
    width: 60rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
select{
    flex: 1;
    color: #fff;
    background: #403d84;
    height: 5rem;
    padding: 0 2rem;
    border-radius: 3.5rem;
    font-size: 1.6rem;
    appearance: none;
    background-image: url(./images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position-x: calc(100% - 2rem);
    background-position-y:  2rem;
}
button{
    background: #ff2963;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    border-radius: 3.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button img{
    width: 1.6rem;
    margin-right: 1rem;
}