@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62.5%;
    text-decoration: none;
    font-family: 'Roboto';
    outline: none;
}
body{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.card{
    width: 90%;
    max-width: 45rem;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 0 auto 0;
    border-radius: 2rem;
    padding: 4rem 4rem;
    /* padding: 2rem 0; */
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ebfffc;
    border-radius: 3rem;
    position: relative;
}
.search input{
    background: #ebfffc;
    color: #555;
    padding: 1rem 2.5rem;
    height: 6rem;
    width: auto;
    border-radius: 3rem;
    flex: 1;
    margin-right: 1.6rem;
    font-size: 1.8rem;
}
.search button{
    background: #ebfffc;
    border-radius:50% ;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
}
.search button img{
    width: 1.6rem;
    mix-blend-mode:darken;
}
.weather-icon{
    width: 17rem;
    margin-top: 3rem;
}
.weather h1{
    font-size: 6rem;
    font-weight: bold;
}
.weather h2{
    font-size: 4rem;
    font-weight: 600;
    margin-top: -1rem;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem ;
    margin-top: 5rem ;
}
.col{
    display: flex;
    align-items: center;
    text-align: center;
}
.col img{
    width: 4rem;
    margin-right: 1rem;
}
.humidity, .wind{
    font-size :2.8rem;
    margin-top: -6px; 
}
.p{
    font-size: 1.5rem;
}
.weather{
    display: none;
}
.error{
    margin-left: 1rem;
    font-size: 1.4rem;
    margin-top: 1rem;
    display: none;
}
.error p{
    font-size: 1.5rem;
}
@media (max-width:500px){
   .search button{
    background: #ebfffc;
    border-radius:50% ;
    width: 4rem;
    height: 5.4rem;
    cursor: pointer;
} 
.search button img{
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    width: 2rem;
}
.search{
    width: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ebfffc;
    border-radius: 3rem;
}
.weather h1{
    font-size: 5rem;
    font-weight: bold;
}
.weather h2{
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: -1rem;
}
.col img{
    width: 3rem;
    margin-right: 1rem;
}
.humidity, .wind{
    font-size :2.3rem;
    margin-top: -6px; 
}
}
