@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62.5%;
    text-decoration: none;
    font-family: "Roboto", serif;
    outline: none;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(background.png);
    background-size: cover;
    background-position: center;
    padding: 1rem 10%;
    color: #fff;
}
.hero h3{
    margin-top: 15%;
    font-weight: 500;
    font-size: 3rem;
}
.hero h1{
    margin-top: 3rem;
    font-size: 5rem;
}
.hero p{
    margin: 1rem 0 5rem;
    font-size: 1.7rem;
}
form{
    background-color: #fff;
    display: flex;
    width: fit-content;
}
form input{
    padding: 1rem 2rem;
    height: 7rem;
    width: 40rem;
    font-size: 1.6rem;
}
form button{
    background-color: #61b752;
    height: 7rem;
    width: 10rem;
    cursor: pointer;
}
button img{
    height: 5rem;
    width: 6rem;
}
span{
    color: #61b752;
    margin-top: 1rem;
    display: block;
    font-size: 1.5rem;
}










/* Mobile devices ke liye */
@media (max-width: 768px) {
    .hero {
        background-position: center center;  /* background ko center me karega */
        background-size: cover; /* image full cover karegi */
        padding: 2rem;
        text-align: center; /* text center align ho jaye */
    }

    .hero h1 {
        font-size: 3rem; /* choti screen par font adjust */
    }

    .hero h3 {
        font-size: 2rem;
    }

    form {
        flex-direction: column; /* input aur button neeche neeche aayenge */
        width: 100%;
        max-width: 400px;
        margin: auto;
    }

    form input {
        width: 100%;
        margin-bottom: 1rem;
    }

    form button {
        width: 100%;
    }
    button img{
    height: 4rem;
    width: 4rem;
}
}
