*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* background:linear-gradient(45deg,#ffbb00 ,#FF8F00 ) ; */
}

body{
    background:linear-gradient(45deg,#ffbb00 ,#FF8F00 ) ;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
    /* z-index: -1; */
}
.cnt{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

h1{
    font-size: 2.5rem;
    color:white;
    z-index: 8;
    text-shadow: 0 2px 0.1rem aliceblue;
    font-weight: bold;
}

.containr{
    /* border: 10px solid white; */
    /* margin: 0 auto; */
    height: 83.5vmin;
    /* width: 70vmin; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.game{
    height: 60vmin;
    width:  60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.cut{
    height: 18vmin;
    width: 18vmin;
    filter: drop-shadow(0 0 0.8rem aliceblue);
     background:linear-gradient(45deg,#ffbb00,#FF8F00) ;
     border-radius: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
}
.box{
    height: 13vmin;
    width: 13vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    filter: drop-shadow(0 0 0.1rem aliceblue);
     background:linear-gradient(-45deg,#FF8F00,#ffbb00) ;
    background-clip: text;
    color: #fff;
    text-shadow: 0 2px 0.2rem aliceblue;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
.box::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background:linear-gradient(45deg,#FF8F00,#ffbb00) ;
    height: 200%;
    width: 200%;
    animation:ma 10s linear 0s ;
    z-index: -1;
}
@keyframes ma{
    from{
        background-position-y: 0;
    }
    to{
        background-position-y: -150%;
    }
}
#rst{
    padding: 1rem;
    background:linear-gradient(45deg,#FF8F00 50%,#ffbb00  ) ;
    filter: drop-shadow(0 -5px 0.5rem aliceblue);
    color: #fff;
    font-size: 1.20rem;
    border: none;
    border-radius: 1rem;
    z-index: 9;
    cursor: pointer;
}
#new{
    padding: 1rem;
    background:linear-gradient(45deg,#FF8F00 50%,#ffbb00  ) ;
    filter: drop-shadow(0 5px 0.5rem aliceblue);
    color: white;
    font-size: 1.20rem;
    border: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    animation: la 1s linear;
    cursor: pointer;
}
@keyframes la{
    from{
        font-size: 1.20rem;
    }
    to{
        font-size: 1.5rem;
    }
}
#msg{
    font-size: 5vmin;
    color: white;
    margin-bottom: 1rem;
}
.msg-contain{
height:100vh ;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
z-index: 10;
}
.hids{
    display: none;
}