@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62.5%;
    text-decoration: none;
    font-family: 'Roboto';
    outline: none;
}
.container{
    background:linear-gradient(135deg,#153677,#4e085f);
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
}
.to-app{
    width: 100%;
    max-width: 50.4rem;
    background-color: #fff;
    margin: 10rem auto 2rem;
    padding: 4rem 3rem 7rem;
    border-radius: 1rem;
}
.to-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 2.15rem;
    font-weight: bold;
}
.to-app h2 img{
    width: 3rem;
    margin-left: 1rem;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edeef0;
    border-radius: 3rem;
    padding-left: 2rem;
    /* padding-right: 2rem; */
    margin-bottom: 2.5rem;
}
.row input{
    flex: 1;
    background-color: transparent;
    padding: 1rem;
    font-weight: 1.4rem;
    font-size: 1.5rem;
}
button{
    padding: 1.6rem 5rem;
    background:linear-gradient(to left, #ff5945, #ff796a);
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 4rem;
}
ul li{
    list-style-type: none;
    font-size: 1.7rem;
    padding: 1.2rem 0.8rem 1.2rem 5rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-image: url(./img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 0.8rem;
    left: 0.8rem;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
 background-image: url(./img/checked.png);   
}
ul li span{
    position: absolute;
    right: 0;
    top: 0.3rem;
    width: 4rem;
    height: 4rem;
    font-size: 2.2rem;
    color: #555;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
} 
@media(max-width:400px){
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edeef0;
    border-radius: 3rem;
    padding-left: 1rem;
    /* padding-right: 1.2rem; */
    margin-bottom: 2.5rem;
}
.row input{
    flex: 1;
    background-color: transparent;
    padding: 1rem;
    font-weight: 1.4rem;
    font-size: 1.3rem;
}
button{
    padding: 1.3rem 4rem;
    /* background-color: #ff5945; */
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 4rem;
}
}