@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62.5%;
    text-decoration: none;
    font-family: "Roboto", serif;
    outline: none;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #e3f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background: #3a4452;
    padding: 2rem;
    border-radius: 1rem; 
}
.calculator form input{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
     5px 5px 15px rgba(0, 0, 0, 0.2);
     background: transparent;
     font-size: 2rem;
     color: #fff;
     cursor: pointer;
     margin: 1rem;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
}
form .display input[name="display"]{
    text-align: right;
    box-shadow: none;
    flex: 1;
    font-size: 4.5rem;
}
form div .equal{
    width: 14.5rem;
}
form div .operator{
    color: #33ffd8;
}