@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62.5%;
    text-decoration: none;
    font-family: "Roboto", serif;
    outline: none;
}
.hero{
    width: 100%;
    height: 100vh;
    background: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 40rem;
    background: #fff;
    padding: 4rem;
    border-radius: 1.5rem;
    text-align: center;
    color: #333;
}
.card h1{
    font-weight: 600;
    color: #000;
    font-size: 2.5rem;
}
.card p{
    font-size: 1.5rem;
}
.card img{
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
label{
    display: block;
    width: 20rem;
    background: #e3362c;
    padding: 1.2rem;
    margin: 1rem auto;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
}
input{
    display:none;
}