@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62.5%;
    text-decoration: none;
    font-family: 'Roboto';
    outline: none;
}
.container{
    max-width: auto;
    height: 100vh;
    background: linear-gradient(135deg,#4203a9,#90bafc);
    color: #fff;
    padding: 1rem;
    /* overflow: hidden; */
}
.calculator{
    width: 100%;
    max-width: 60rem;
    margin-top: 10%;
    margin-left: 10%;
    /* border: 5px solid #fff; */
}
.calculator h1{
    font-size: 5.5rem;
}
.calculator h1 span{
    color: #ffff76;
    font-size: 5.5rem;
}
.input-box{
    margin: 4rem 0;
    padding: 3.5rem;
    border-radius: 1rem;
    background: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 1;
    margin-right: 2rem;
    padding: 1.4rem 2rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    position: relative;
}
.input-box button{
    background: #ffff76;
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    font-size: 1.6rem;
}
.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 1rem);
    background-size: 3rem;
    cursor: pointer;
}
.pp{
    font-size: 2rem;
}
.pp span{
    color: #ffff76;
    font-size: 2rem;
    font-weight: bold;
}


@media (max-width:500px){
    .calculator{
    width: 100%;
    max-width: 60rem;
    margin:0 auto;
    /* border: 5px solid #fff; */
}
    .calculator h1{
    font-size: 3.5rem;
}
.calculator h1 span{
    color: #ffff76;
    font-size: 3.5rem;
}
.input-box{
    margin: 5rem 0;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
}
.input-box button{
    background: #ffff76;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    font-size: 1.3rem;
}
}

@media (orientation: landscape),(max-width:600px) {
    .input-box{
    margin: 5rem 0;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 1;
    margin-right: 2rem;
    padding: 1.4rem 2rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    position: relative;
}
.calculator{
    width: 100%;
    max-width: 60rem;
    /* margin-top: 10%; */
    /* margin-left: 10%; */
    /* border: 5px solid #fff; */
}
}