@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62.5%;
    text-decoration: none;
    font-family: "Roboto", serif;
    outline: none;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #1d0000, #20205b);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar{
    width: 30rem;
    height: 25rem;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 1rem;
}
.left, .right{
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.4rem;
}
.right{
    width: 42%;
    background: #f4351e;
    color: #fff;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.left{
    width: 58%;
}
#date{
    font-size: 10rem;
    line-height: 9rem;
}
#day{
    font-size:1.7rem ;
}
#month{
    font-size:1.7rem ;
}
#year{
    font-size:2rem ;
}