@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62.5%;
    text-decoration: none;
    font-family: "Roboto", serif;
    outline: none;
}.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
    position: relative;
}
.container{
    width: 80rem;
    height: 18rem;
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background: red; */
}
.container::before{
    content: '';
    width: 18rem;
    height: 18rem;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -5rem;
    top: -5rem;
    z-index: -1;
}
.container::after{
        content: '';
    width: 18rem;
    height: 18rem;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    right: -3rem;
    bottom: -5rem;
    z-index: -1;
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4rem);
}
.clock span{
    font-size: 8rem;
    width: 11rem;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 1.6rem;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
}
.clock span#hrs::after{
    content: 'HOURS';
    margin-top: 0.7rem;
}
.clock span#min::after{
    content: 'MINUTES';
    margin-top: 0.7rem;
}
.clock span#scn::after{
    content: 'SECONDS';
    margin-top: 0.7rem;
}


@media (max-width: 768px){
    .container{
        width: 90%;
        height: 10rem;
    }
    .clock span{
        font-size: 4rem;
        width: 8rem;
    }
    .container::before{
    content: '';
    width: 10rem;
    height: 10rem;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -5rem;
    top: -5rem;
    z-index: -1;
}
.container::after{
        content: '';
    width: 10rem;
    height: 10rem;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    right: -2rem;
    bottom: -5rem;
    z-index: -1;
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4rem);
}
}