@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62.5%;
    text-decoration: none;
    font-family: "Roboto", serif;
    outline: none;
}
.container{
    /* width: 100%; */
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.music-player{
    background-color: #ffe0e5;
    width: 40rem;
    padding: 2.5rem 3.5rem;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
nav .circle{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    background: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
    text-align: center;
    position: relative;
}
nav .circle i{
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.song-img{
    width: 22rem;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 1rem 6rem rgba(255, 26, 26, 0.22);
}
.music-player h1{
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-top: 2rem;
}
.music-player p{
    font-size: 1.4rem;
    color: #333;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 0.6rem;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 4rem 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f53192;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 6rem;
    height: 6rem;
    margin: 2rem;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 1rem 2rem rgba(255, 26, 26, 0.22);
    cursor: pointer;
    font-size: 2rem;
}
.controls div:nth-child(2){
    transform: scale(1.3);
    background-color: #f53192;
    color: #fff;
}
.fa-play,.fa-pause{
      transform: scale(1.3);
    background-color: #f53192;
    color: #fff;
}


@media (max-width:350px){
    .music-player{
    background-color: #ffe0e5;
    width: 100vh;
    /* padding: 2.5rem 3rem; */
    text-align: center;
}
nav .circle{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    /* line-height: 4rem;*/
    } 
}



@media (max-width:500px){
    .music-player{
    background-color: #ffe0e5;
    width: 100vh;
    padding: 2.5rem 3.5rem;
    text-align: center;
}
.music-player h1{
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    /* margin-top: 2rem; */
}
.controls div{
    width: 6rem;
    height: 6rem;
    margin: 1rem;
}
}