@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62.5%;
    text-decoration: none;
    font-family: "Roboto", serif;
    outline: none;
}
body{
    background-color: #f7edff;
}
.button{
    margin: 5rem;
}
.button button{
    background-color: #333;
    color: #fff;
    width: 12rem;
    height: 4rem;
    margin: .5rem;
    cursor: pointer;
    font-size:1.5rem ;
}
#toastbox{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 2rem;
}
.toast{
    width: 40rem;
    height: 8rem;
    background: #fff;
    font-weight: 500;
    margin: 1.5rem 0;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    position: relative;
    transform: translateX(100%);
    animation: movlft 0.5s linear forwards ;
}
@keyframes movlft{
    100%{
        transform: translateX(0);
    }
}
.toast i{
    margin: 0 2rem;
    font-size: 3.5rem;
    color: green;
}
.toast.error i{
    color: red;
}
.toast.error::after{
    background: red;
}
.toast.invalid i{
    color: orange;
}
.toast.invalid::after{
    background-color: orange;
}
.toast::after{
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: green;
    animation: anim 5s linear forwards;
}
@keyframes anim{
    100%{
        width: 0;
    }
}