@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 62.5%;
    text-decoration: none;
    font-family: "Roboto", serif;
    outline: none;
}
.container{
    width: 100%;
    height: 100vh;
    background: #3c5077;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 1rem 6rem;
    background-color: #fff;
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 500;
    border-radius: 3rem;
}
.popup{
    width: 40rem;
    background: #fff;
    border-radius: 0.6rem;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 3rem 3rem;
    color: #333; 
    visibility: hidden;
    transition: transform 0.4s, top 0.4s,left 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width: 10rem;
    margin-top: -5rem;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
    font-size: 3.8rem;
    font-weight: 500;
    margin: 3rem 0 1rem;
}
.popup button{
    width: 100%;
    margin-top: 5rem;
    padding: 1rem 0;
    background: #6fd649;
    color:#fff;
    font-size: 1.8rem;
    border-radius: 4px;
    cursor: pointer;
     box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.popup p{
    font-size: 1.7rem;
}